       *{
            margin: 0;
            padding: 0;
        }
        

        body {
            background-color: rgb(245, 243, 223);
            
        }

        .nav1 {
            text-decoration: none;
            color: rgb(255, 255, 255);
            margin-left: 15px;
        }

        .nav_bar {
            background-color: black;
            padding: 13px 40px 10px 20px;
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            width: auto;

        }
        .search_btn{
            background-color: black;
        }

        .parent_iframe {
            color: #000000;
        }

        .child_iframe {
            height: 300px;
            width: 20vw;
            border: 1px solid black;
            border-radius: 20px;
            margin: 30px;
        }

        .div0_overflow-1 {
            margin: 0px 40px;
            padding: 15px;
            height: 300px;
            overflow: scroll;
            border: 1px solid #000000;
            border-radius: 20px 20px 0px 0px;
            background-color: rgb(243, 243, 245);
        }

        .parent_table_div1 {
            display: flex;
            margin: 40px;justify-content: space-between;
        }

        table{
            width: 50%;
        }

        table,
        tr,
        th{
            border: 1px solid black;
            height: 30px;
        }

        .inln1 {
            display: inline-table;
            margin: 20px;
            background-color: rgb(243, 243, 245);
        }

        img {
            float: right;
        }

        .div3_reover3 {
            border: 1px solid black;
            border-radius: 20px;
            margin: 40px;
            padding: 20px;
            resize: both;
            overflow: auto;
            background-color: rgb(243, 243, 245);
        }